body
  overflow-x hidden
.row
  background #fff
  position relative
  width 100%
  &__inner
    margin 0 auto
    width 1060px
    @media (max-width: 1100px)
      max-width 1000px
      width auto

.main
  background url('../i/main_bg.jpg') 50% 0 no-repeat
  background-size cover
  height 700px
  padding 120px 0 0 0
  @media (max-width: 1200px)
    height auto
    padding 10% 0 30%
.flyfut-logo
  background url('../i/flyfut_logo.svg') 50% 0 no-repeat
  background-size contain
  color #fff
  font 1.9rem/1 $headers
  height 207px
  margin 0 auto
  text-align center
  text-transform uppercase
  width 328px
  @media (max-width: 900px)
    height 23vw
    width 36.4vw
  @media (max-width: 660px)
    height 27.6vw
    width 43.7vw
.slider1
  height 190px
  transform translateY(-35px)
  background #fff
  display block
  margin 0 auto
  padding 20px
  width 940px
  @media (max-width: 1020px)
    width 640px
  @media (max-width: 767px)
    width 330px
  @media (max-width: 460px)
    padding 10px
    width 85%
  *
    outline none
  @media (max-width: 460px)
    height auto
  &__item
    display block
    img
      width 100%

.owl-prev,
.owl-next
  position absolute
  top 50%
  cursor pointer
  display block
  height 90px
  margin -45px 0 0
  transition all .3s ease
  width 80px
  z-index 1
  background-position 50%
  background-repeat: no-repeat
  background-size 30px 65px
  @media (max-width: 1100px)
    width 30px
  @media (max-width: 767px)
    background-size contain
    width 20px
.owl-prev
  left -80px
  background-image url('../i/prev.svg')
  @media (max-width: 1100px)
    left -35px
  @media (max-width: 460px)
    left -20px
  &:hover
    transform translateX(-12px)
    @media (max-width: 1100px)
      transform none
.owl-next
  right -80px
  background-image url('../i/next.svg')
  @media (max-width: 1100px)
    right -35px
  @media (max-width: 460px)
    right -20px
  &:hover
    transform translateX(12px)
    @media (max-width: 1100px)
        transform none

.record
  margin 1rem 0 0
  h2
    margin-top 0
  p
    margin-left auto
    margin-right auto
    max-width 740px
    text-align center

h2
  font 3rem/1 $headers
  margin 0 0 0.85em
  padding 0 15px
  text-align center
  text-transform uppercase
  @media (max-width: 767px)
    font-size 2.4rem
h3
  font 2.4rem/1 $roboto
  margin .65em 0
  padding 0 15px
  @media (max-width: 767px)
    font-size 2rem
p
  font 1.6rem/2.2rem $roboto
  margin 1em 0 0
  padding 0 15px
  @media (max-width: 767px)
    font-size 1.4rem
ul
  margin 2rem 0 0
  padding 0
  li
    padding 0 0 0 1.6rem
    position relative
    &::before
      position absolute
      top 8px
      left 0
      background #ed7900
      border-radius 50%
      content ''
      display block
      height 6px
      width 6px
li
  list-style-type none
  font 1.6rem/2.2rem $roboto
  margin .2em 0 0
  padding 0
  @media (max-width: 767px)
    font-size 1.4rem

.video
  background #000
  height 462px
  margin 4.4rem auto 0
  position relative
  width 900px
  z-index 2
  iframe
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    height 100%
    width 100%
  @media (max-width 920px)
    height 0
    padding-bottom 51.3%
    width 100%
  &-btn
    position absolute
    top 50%
    left 50%
    border 2px solid #ed7900
    border-radius 50%
    cursor pointer
    height 76px
    margin -38px 0 0 -38px
    width 76px
    @media (max-width 767px)
      height 50px
      margin -25px 0 0 -25px
      width 50px
    &::before
      position absolute
      top 50%
      left 50%
      background url('../i/play_btn.svg') 50% no-repeat
      background-size contain
      display block
      content ''
      height 26px
      margin -13px 0 0 -10px
      width 26px
      @media (max-width 767px)
        height 18px
        margin -9px 0 0 -7px
        width 18px



.experience
  margin 8rem 0 0
  position relative
  @media (max-width: 767px)
    margin-top 5rem
  .row__inner
    padding 0 0 9.4rem 320px
    @media (max-width: 1020px)
      padding 0 15px 5rem
  h2
    text-align left
    @media (max-width: 1020px)
      text-align center
  h2, h3, p
    padding 0
  &__block
    margin 4rem 0 0
    max-width 560px
    position relative

    @media (max-width: 1020px)
      max-width 100%
  &__player
    position absolute
    top: -300px
    left: -490px
    background url('../i/player.png') 100% 100% no-repeat
    background-size contain
    display block
    height 845px
    width 490px
    z-index 1
    @media (max-width: 1020px)
      display none

.parallax
  background transparent
  height 355px
  position relative
  @media (max-width: 660px)
    height 54.6vw
  &-logo
    position absolute
    top 50%
    left 0
    right 0
    background url('../i/flyfut_logo.svg') 50% no-repeat
    background-size contain
    height 174px
    margin -87px auto 0
    width 276px
    @media (max-width: 660px)
      height 27.6vw
      margin-top -13.8vw
      width 43.7vw

.customization
  margin 6.5rem 0 0
  @media (max-width: 767px)
    margin-top 5rem
  &-list
    display flex
    flex-wrap wrap
    margin 0
    padding 0
    li
      margin 4.5rem 0 0
      padding 0
      list-style-type none
      text-align center
      width 27%
      @media (max-width: 1020px)
        width 30%
      @media (max-width: 850px)
        margin-top 3rem
        width 48%
      @media (max-width: 650px)
        width 100%
      &::before
        display none
      & + li
        margin-left 9.5%
        @media (max-width: 1020px)
          margin-left 5%
        @media (max-width: 850px)
          margin-left 4%
        @media (max-width: 650px)
          margin-left 0
      &:nth-child(3n + 1)
        @media (min-width: 851px)
          margin-left 0
      &:nth-child(3n)
        @media (max-width: 850px)
          margin-left 0
      h3
        margin-top 0



.customization-slider
  height 190px
  position relative
  background #fff
  display block
  margin 3.5rem auto 0
  padding 20px
  width 940px
  @media (max-width: 1020px)
    width 640px
  @media (max-width: 767px)
    width 330px
  @media (max-width: 460px)
    padding 10px
    width 85%
  *
    outline none
  @media (max-width: 460px)
    height auto
  &__item
    display block
    img
      width 100%


.particular
  margin 5rem 0 0
  text-align center
  .small
    margin 4.2rem 0 4.5rem

.double-space
  margin-bottom 2.3em

.footer
  background #000
.copyright
  color #fff
  font-size 1.4rem
  padding 5.8rem 0
  text-align center
  a
    color #fff
    text-decoration underline
    transition color .2s ease
    &:hover, &:active
      color #ed7900
      text-decoration none
