@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i')
@import 'base/normalize/normalize'
@import 'base/mixins/fonts'
@import 'base/mixins/colors'

@import 'base/base'

@import 'blocks/slick/slick'
@import 'blocks/magnific-popup/magnific-popup'

@import 'blocks/main/main'
