@import url('https://fonts.googleapis.com/css?family=Roboto:400')

@font-face {
	font-family: 'Wurlitzer Pro Bold';
	src: url('../fonts/WurlitzerPro-Bold.woff2') format('woff2'),
		url('../fonts/WurlitzerPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@import 'base/normalize/normalize'
@import 'base/mixins/fonts'
@import 'base/mixins/colors'

@import 'base/base'

@import 'blocks/slick/slick'
@import 'blocks/magnific-popup/magnific-popup'

@import 'blocks/main/main'
