doctype html
html
  include blocks/top_head
  body
    .row.main
      .flyfut-logo
    .row
      .row__inner
        .slider1.owl-carousel
            a(href='../i/slide1.jpeg').slider1__item
              img(src='../i/slide1.jpeg' alt='')
              
            a(href='../i/slide2.jpeg').slider1__item
              img(src='../i/slide2.jpeg' alt='')
              
            a(href='../i/slide3.jpeg').slider1__item
              img(src='../i/slide3.jpeg' alt='')
              
            a(href='../i/slide4.jpeg').slider1__item
              img(src='../i/slide4.jpeg' alt='')
              
            a(href='../i/slide5.jpeg').slider1__item
              img(src='../i/slide5.jpeg' alt='')
              
            a(href='../i/slide6.jpeg').slider1__item
              img(src='../i/slide6.jpeg' alt='')
              
                
    .row.record
      .row__inner
        h2 GRABAMOS Y EDITAMOS TU PARTIDO
        p Este es un ejemplo de los partidos que grabamos. Con Pilotos de Drone y Equipo de edición profesionales hacemos magia, nos esforzamos en recoger lo mejor de cada partido, los detalles de crack, de fiera, de fuera de serie en un video resumen de 5 minutos.
        .video.
          <iframe src="https://www.youtube.com/embed/UlFHdsQq9J8" frameborder="0" allowfullscreen></iframe>
            //- img(src='../i/video.jpg' alt='video placeholder')
    .row.experience
      .row__inner
        h2 UNA EXPERIENCIA ÚNICA
        .experience__block
          .experience__player
          h3 Que hacemos?
          p Grabamos tu partido de futbol con cámara drone y lo editamos para replicar la sensación de un partido de futbol profesional. Alineaciones, Comentaristas, Animaciones, Efectos especiales ,etc...
        .experience__block
          h3 Cómo lo hacemos?
          p Nos desplazamos hasta el campo donde juegas. Nuestro equipo de pilotos de Drone grabara el encuentro y nuestro equipo de post-producción se encargará del resto.
        .experience__block
          h3 Por qué lo hacemos?
          ul
            li Para nosotros tu partido es muy importante. 
            li Queremos que sepas lo que se siente al ser una verdadera estrella en la pantalla.
            li Queremos que guardes ese golazo, ese pase o esa parada y lo compartas con tus amigos siempre que quieras
        
    .row.parallax(data-parallax="scroll" data-image-src="./i/img_parallax.jpg")
      .parallax-logo
    .row.customization
      .row__inner
        h2 CUSTOMIZACION
        ul.customization-list
          li
            h3 ALINEACIONES
            p Mostramos las alineaciones del partido, incluyendo la poción en el campo para darle aun mas realismo. Alineaciones con el himno de la Champions.
          li
            h3 ANIMACIONES
            p Nuestro equipo de Post-Producción trabaja con la última tecnología para aplicar efectos visuales y sonoros para alcanzar una calidad máxima.
          li
            h3 COMENTARISTAS
            p Elige el nivel de comentarios cómicos, el idioma y acento del comentarista. Incluso podrás elegir que tu partido tenga mas de un comentarista.
          li
            h3 GOLES
            p Comparte ese golazo que metiste con todos tus amigos, ya no tendrán excusa para no creerte ;) 
          li
            h3 FAIR PLAY
            p El juego sucio ya no tiene hueco, la cámara lo ve todo.
          li
            h3 REPETICIONES
            p Podrás ver una y otra vez tus mejores jugadas, ese penalty que fue y no pitaron, esa mano que el arbitro no vio, ese gol fantasma...
        .customization-slider.owl-carousel
            a(href='../i/slide1.jpeg').customization-slider__item
              img(src='../i/slide1.jpeg' alt='')
              
            a(href='../i/slide2.jpeg').customization-slider__item
              img(src='../i/slide2.jpeg' alt='')
              
            a(href='../i/slide3.jpeg').customization-slider__item
              img(src='../i/slide3.jpeg' alt='')
              
            a(href='../i/slide4.jpeg').customization-slider__item
              img(src='../i/slide4.jpeg' alt='')
              
            a(href='../i/slide5.jpeg').customization-slider__item
              img(src='../i/slide5.jpeg' alt='')
              
            a(href='../i/slide6.jpeg').customization-slider__item
              img(src='../i/slide6.jpeg' alt='')
                
                
    .row.particular
      .row__inner
        h3 ¿Eres un particular?
        p.double-space Llámanos o escríbenos aquí y dinos donde y cuando quieres que grabemos el partido de tu equipo.
        h3 ¿Representas a una liga?
        p Si representas a una liga, y superas los mínimos de calidad, podréis pertenecer al grupo de las mejores ligas de futbol amateur de España. Contrata el servicio de grabación con cámara drone y posiciona tu liga en lo mas alto, recluta mas equipos, aumenta la participación y aumenta tus beneficios. Todos querrán jugar en tu liga!
        p.small TU ERES EL CRACK
    .row.footer
      .row__inner
        p.copyright Contacto : <a href='mailto:luis@flu-fut.com'>luis@flu-fut.com</a>.<br/>Copyright © 2015 fly-fut - All Rights Reserved.

    script(src='js/main.js')


          
          
              
        
        
            
          
          
        
