$cool-grey = #a5acb2;
	$charcoal-grey = #353841;
	$twilight-blue = #0d44a1;
	$mid-blue = #2254a8;
	$bluey-grey = #989eaf;
	$mid-blue-two = #2154a8;
	$sapphire = #224aa3;
	$lipstick = #d61f2c;
	$warm-grey = #a1a1a1;
	$royal = #103b9b;
	$black = #0b0b0b;
	$white = #f8f8f8;
	$twilight-blue-two = #0a4298;
	$light-navy = #154b9f;
	$cool-green = #2dc868;
	$lightish-red = #ff354e;
	$pale-gray = #f0f1f6;
